# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Game/.vs
/Game/Debug
/Game/x64/Debug
/Game/Game/out/build
/Game/Game/.vs
/3D_render/.vs
/3D_render/out/build/x64-Clang-Debug
3D_render/build
3D_render/out
target/
