# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Game/.vs/Pong/v16
/Game/Debug
/Game/x64/Debug
/Game/Pong.vcxproj.user
/Game/Pong.vcxproj.filters
/Game/.vs/Game/v16
